<div class="container d-flex flex-column justify-content-center">
    <div id="person-info" class="py-3 my-4 rounded">
        <div class="d-flex justify-content-center mb-2">
            <h2>
                <%= @person.salutation %> <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>
            </h2>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <%= link_to "Delete", person_path(@person), data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger text-light fw-bold mx-2" %>
            <%= link_to "Edit", edit_person_path(@person), class: "btn btn-warning text-light fw-bold mx-2" %>
        </div>
        <div class="d-flex justify-content-center table-responsive-sm ">
            <table class="table table-sm table-bordered mw-100 w-50 bg-light">
                <tbody>
                    <tr>
                        <th>Birth Date</th>
                        <td>
                            <% if @person.birth_date %>
                                <%= @person.birth_date %>
                            <% else %>
                                null
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <th>SSN</th>
                        <td>
                            <% if @person.ssn %>
                                <%= @person.ssn %>
                            <% else %>
                                null
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>
                            <% if @person.comment and @person.comment != '' %>
                                <%= @person.comment %>
                            <% else %>
                                null
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>
    
    <div id="address-info" class="my-2">
        <div class="d-flex py-2 border-bottom">
            <h3>Addresses</h3>
            <a href="<%= new_person_address_path(@person) %>" class="btn btn-success text-light fw-bold mx-2" role="button">+ Add address</a>
        </div>
        <div class="table-responsive bg-light">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>STREET</th>
                        <th>TOWN</th>
                        <th>STATE</th>
                        <th>ZIP</th>
                        <th>COUNTRY</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @person.addresses.each do |address| %>
                        <tr>
                            <td><%= address.id %></td>
                            <td><%= address.street %></td>
                            <td><%= address.town %></td>
                            <td><%= address.state %></td>
                            <td><%= address.zip %></td>
                            <td><%= address.country %></td>
                            <td class="d-flex justify-content-end align-items-center">
                                <a href="<%= edit_person_address_path(@person, address.id) %>" class="btn btn-sm btn-warning text-dark fw-bold mx-2" role="button">Edit</a>
                                <a href="<%= person_address_path(@person, address.id) %>" class="btn btn-sm btn-danger text-light fw-bold mx-2" role="button">Delete</a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <div id="email-info" class="my-2">
        <div class="d-flex py-3 border-bottom">
            <h3>Email</h3>
            <a href="<%= new_person_email_path(@person) %>" class="btn btn-success text-light fw-bold mx-2" role="button">+ Add email</a>
        </div>
        <div class="table-responsive bg-light ">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMAIL</th>
                        <th>COMMENT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @person.emails.each do |email| %>
                        <tr>
                            <td><%= email.id %></td>
                            <td><%= email.email_address %></td>
                            <td><%= email.comment %></td>
                            <td class="d-flex justify-content-end align-items-center">
                                <a href="<%= edit_person_email_path(@person, email.id) %>" class="btn btn-sm btn-warning text-dark fw-bold mx-2" role="button">Edit</a>
                                <a href="<%= person_email_path(@person, email.id) %>" class="btn btn-sm btn-danger text-light fw-bold mx-2" role="button">Delete</a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div id="phone-number-info" class="my-2">
        <div class="d-flex py-2 border-bottom">
            <h3>Phone Number</h3>
            <a href="<%= new_person_phone_number_path(@person) %>" class="btn btn-success text-light fw-bold mx-2" role="button">+ Add phone number</a>
        </div>
        <div class="table-responsive bg-light">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PHONE NUMBER</th>
                        <th>COMMENT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @person.phone_numbers.each do |phone_number| %>
                        <tr>
                            <td><%= phone_number.id %></td>
                            <td><%= phone_number.phone_number %></td>
                            <td><%= phone_number.comment %></td>
                            <td class="d-flex justify-content-end align-items-center">
                                <a href="<%= edit_person_phone_number_path(@person, phone_number.id) %>" class="btn btn-sm btn-warning text-dark fw-bold mx-2" role="button">Edit</a>
                                <a href="<%= person_phone_number_path(@person, phone_number.id) %>" class="btn btn-sm btn-danger text-light fw-bold mx-2" role="button">Delete</a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    

</div>

