<%= form_with(model: [@person, address], local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :street %><br>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :town %><br>
    <%= form.text_field :town %>
  </div>

  <div>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip %><br>
    <%= form.number_field :zip %>
  </div>

  <div>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= form.submit %>
  </div>
<% end %>
