<%= form_with(model: [@person, address], local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :street%><br>
    <%= form.text_field :street, class: "w-100" %>
  </div>

  <div>
    <%= form.label :town %><br>
    <%= form.text_field :town, class: "w-100" %>
  </div>

  <div>
    <%= form.label :state %><br>
    <%= form.text_field :state, class: "w-100" %>
  </div>

  <div>
    <%= form.label :zip %><br>
    <%= form.number_field :zip, class: "w-100" %>
  </div>

  <div>
    <%= form.label :country %><br>
    <%= form.select :country, @countries.map {|k,v| v}, class: "w-100"  %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= form.submit %>
  </div>
<% end %>
